/* ------------- Poppins Google font ----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* ----------- ROOT VARIABLES ------------- */
:root {
    --bs-gray-200: #e9ecef;


    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    /* --color-white: #FEFEFE; */
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    /* --color-background: #f6f6f9; */
    --color-background: #EBF4F8;
    --color-bg-light: #F1F8F0;
    --color-auth-background: #5D4CC0;

    --card-border-radius: 1.5rem;
    --boarder-radius-1: 0.4rem;
    --boarder-radius-2: 0.8rem;
    --boarder-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --section-padding: 3rem;

    --box-shadow-1: 0 2rem 3rem var(--color-light);
    --box-shadow-2: 0 .25rem .25rem var(--color-light);

    --normal-font-size: .875rem;
    --medium-font-size: .875rem;
    --small-font-size: .775rem;
}

/* start: global */
body {
    position: relative;
    overflow-x: hidden;
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
}

body,html {
    height: 100%;
}

a:hover {
    color: var(--color-white);
    text-decoration: none;
}




/* ujuaji */
.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
/* end: Global */

/* start: scrollbar */
::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
}
/* end: scrollbar */

/* start: sidebar */
#sidebar-wrapper {
    z-index: 1000;
    height: 100%;
    width: 0;
    left: -50%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: cornflowerblue;
    transition: .05s all ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: var(--color-background);
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
}

.sidebar-brand {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1.15rem 1.5rem;
    display: block;
    color: var(--color-primary);
}

.sidebar-header {
    text-transform: capitalize;
    padding: 1.5rem 1.5rem .375rem !important;
    font-size: 14px;
    color: var(--color-primary);
}

.navbar-nav li a,.submenu-box ul li a {
    color: var(--color-dark-variant);
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 10px 10px 20px;
    display: block;
    font-weight: 400;
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
}

.submenu-box ul li a {
    padding: 4px 10px 4px 20px;
    color: var(--color-success);
    transition: .05s all ease;
}

.submenu-box ul li a:hover {
    color: var(--color-danger);
    background-color: var(--color-warning);
    border-left: 4px solid var(--color-primary);
}

.navbar-nav .has-sub > a.collapsed::after {
    color: var(--color-dark-variant);
    font-size: 10px;
    content: '\f078';
}

.navbar-nav .has-sub > a::after {
    position: absolute;
    right: 0;
    top: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: var(--color-dark-variant);
    display: block;
    content: "\f077";
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    margin-top: -15px;
}

#wrapper.toggled {
    padding-left: 270px;
}

.toggled#sidebar-wrapper {
    width: 270px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
}

.navbar-nav li {
    display: block;
    margin: 2px 0px;
}

.nav-item .nav-link {
    display: block;
    color: var(--color-dark-variant);
    text-transform: capitalize;
    text-decoration: none;
    padding: 6px 10px;
    transition: 0.4s ease;
}

.navbar-nav > li > a i::before {
    margin: 0px 5px 0px 0px;
}


/* end: sidebar */

/* start: main content closed */
#page-content-wrapper {
    width: 100%;
    transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -270px;
    transition: all 0.5s ease;
}

.toggled#page-content-wrapper {
    margin-left: 270px;
    transition: all 0.5s ease;
}

@media only screen and (min-width:992px) {
    .toggled#page-content-wrapper {
        width: calc(100% - 270px);
    }
}
/* end: main content closed */

/* start: crossbar animation */
.nav-icon1 {
    z-index: 999;
    position: relative;
    display: block;
    width: 23px;
    margin: 0px 30px 0px 25px;
    cursor: pointer;
    height: 25px;
}

.nav-icon1 span{
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: var(--color-primary);
    left: 0;
    transform: rotate(0deg);
    transition: all 0.30s ease-in-out;
}

.nav-icon1:hover span:nth-of-type(1) {
    top: -0.18em;
}

.nav-icon1:hover span:nth-of-type(3) {
    top: 1.18em;
}

.nav-icon1 span:nth-of-type(1) {
    top: 0em;
}

.nav-icon1 span:nth-of-type(2) {
    top: 0.5em;
}

.nav-icon1 span:nth-of-type(3) {
    top: 1em;
}

.nav-icon1.open span:nth-of-type(1) {
    top: 8px;
    transform: rotate(135deg);
}

.nav-icon1.open span:nth-of-type(2) {
    top: 8px;
    opacity: 0;
    left: -30px;
}

.nav-icon1.open span:nth-of-type(3) {
    top: 8px;
    transform: rotate(-135deg);
}
/* end: crossbar animation */

/* start: header navbar */
.my-navbar {
    padding: 0px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-1);
}

.nav-link .img-profile {
    height: 40px;
    width: 40px;
}

.badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 6px;
    margin-top: 4px;
    color: var(--color-white);
    background-color: var(--color-danger);
}
/* end: header navbar */

/* start: main top card */
.card {
    margin-bottom: 24px;
    border: none;
    box-shadow: var(--box-shadow-1);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    font-size: .875rem;
    color: var(--color-primary);
}

.card-body h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-success);
}

.shadow-sm {
    box-shadow: var(--box-shadow-1) !important;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: -0.375rem;
    color: var(--color-primary);
}

/* end: main top card */

/* start: main table */
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.btn-info {
    color: var(--color-primary);
    background-color: var(--color-info-light);
    border-color: var(--color-primary);
}

.btn-orange {
    color: var(--color-white);
    background-color: var(--color-warning);
    border-color: var(--color-white);
}

.btn-success {
    color: var(--color-white);
    background-color: var(--color-success);
    border-color: var(--color-white);
}

.btn-purple {
    color: var(--color-white);
    background-color: #7460ee;
    border-color: var(--color-white);
}

.table th {
    font-size: 18px;
    color: var(--color-primary);
    vertical-align: top;
    border-top: 1px solid var(--color-light);
}
.table td {
    padding: 1rem;
    font-size: 14px;
    color: var(--color-dark-variant);
    vertical-align: middle;
    border-top: 1px solid var(--color-light);
}
.table tr {
    cursor: pointer;
}


/* end: main table */